.logo{
    height: 3.5rem;
    cursor: pointer;
}

.container{
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding: 0 2rem;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    z-index: 999;
}

header img{
    margin-left: -5%;
}

nav{
    display: flex;
    align-items: center;
    gap: 5rem;
    margin-left: -5%;
}

nav a{
    text-decoration: none;
    color: var(--cor-terciaria);
    letter-spacing: 0.1rem;
    font-family: Lato, sans-serif;
    font-weight: bold;
    transition: 0.2s ease;
    font-size: 0.9rem;
}

nav a:hover{
    background-color: var(--cor-terciaria);
    padding: 0.5rem;
    border: none;
    border-radius: 50px;
    color: var(--cor-primaria);
}

.btn-contato{
    padding: 15px 60px;
    border: 2px solid var(--cor-terciaria);
    border-radius: 51px;
    margin-right: -5%;
    font-size: 1.2rem;
    font-family: Lato;
    background-color: transparent;
    color: var(--cor-terciaria);
    transition: 0.2s ease;
}

.btn-contato:hover{
    cursor: pointer;
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
}