main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home{
    display: flex;
    margin-top: 8%;
    position: relative;
    overflow: hidden;
    margin-bottom: 5%;
    padding-bottom: 2rem;
}

.hero{
    color: var(--cor-terciaria);
    font-size: 2.5rem;
    font-family: PirulenW05-Regular, sans-serif;
    margin: 2rem 0;
    line-height: 1.2;
    text-shadow: 0 0 10px rgba(128, 128, 128, 0.418);
}

.conteudo{
    max-width: 60rem;
    margin-left: 3%;
    z-index: 999;
}

.descricao{
    color: var(--cor-terciaria);
    font-family: Lato, sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.05em;
}

.btns{
    margin-top: 3rem;
}

.btn-contrate{
    text-decoration: none;
    border: 1px solid var(--cor-terciaria);
    color: var(--cor-terciaria);
    border-radius: 50px;
    padding: 1.5rem 3rem;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Lato, sans-serif;
    transition: background-color 0.2s ease;
}

.btn-contrate:hover{
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
}

.tag-box{
    position: relative;
    width: 18rem;
    height: 2.5rem;
    border-radius: 50px;
    background: linear-gradient(to right,#D5F7E8, #22B573, #50e2a0, #ADEDD0, #D5F7E8);
    background-size: 200%;
    animation: gradientAnimation 2.5s linear infinite;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

@keyframes gradientAnimation{
    to {
        background-position: 200%;
    }
}

.tag-box .tag{
    position: absolute;
    inset: 3px 3px 3px 3px;
    background-color: var(--preto-primario);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
    cursor: pointer;
    color: var(--cor-terciaria);
    font-family: Lato, sans-serif;
    font-weight: 800;
}

.tag-box .tag:hover{
    color: var(--cor-primaria);
}

.robo3d {
    position: absolute;
    right: -19rem;
    bottom: -1rem;
    width: 80rem; /* AGORA fica proporcional mesmo */
    height: auto;
    pointer-events: none;
    z-index: 10;
}

#quem-somos{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-terciaria);
    padding: 5rem 0;
}

.csn-icon{
    width: 40rem;
    z-index: 1;
}

.textos{
    z-index: 10;
}

